@font-face {
  font-family: 'MetroidFont';
  src: url("../fonts/MetroidFont.otf") format('truetype');
  font-weight: normal;
  font-style: initial;
}


body, html {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #eaeaea;
  font-family: 'MetroidFont', sans-serif;
  background-image: url("../images/MetroidVR/MetroidVRBackground.png");
  background-size: auto auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

header img, footer img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
  background: #1C1C1C;
  border-radius: 10px;
  border-color: #2DD6C4;
  box-shadow: 0 4px 8px #007F9C;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: bold;
}

h3{
  text-align: center;
  font-weight: normal;
}

h2{
  text-align: center;
  font-weight: normal;
  font-size: 4rem;
}

p {
  margin: 15px 0;
  font-size: 2rem;
  font-family: sans-serif;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 20px 0;
}

.video-container iframe,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-image {
  width: 100%;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

a {
  color: #66afe9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer-container {
  position: relative;
  width: 100%;
}

.footer-container img {
  width: 100%;
  height: auto;
  display: block;
  transform: translate(0%, 50%);
}

.footer-container .back-link {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-weight: bold;
  color: #fff;
  background: rgba(0,0,0,0.5);
  padding: 0.5em;
  text-decoration: none;
  border-radius: 0.3em;
}




/*Swiper*/
.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
}
